.blogsection1{
    margin-top: -80px;
}
.thepaddingbot{
    padding-bottom: 112px;
}
.fourtblog{
    background-image: url('../images/image_4.jpg.webp');
}
.fifstblog{
    background-image: url('../images/image_5.jpg.webp');
}
.sixtblog{
    background-image: url('../images/image_6.jpg.webp');
}