#destinations2{
    margin-top: -120px !important;
}
.thedestiimg7{
    background-image: url('../images/destination-7.jpg.webp');
}
.thedestiimg8{
    background-image: url('../images/destination-8.jpg.webp');
}
.thedestiimg9{
    background-image: url('../images/destination-9.jpg.webp');
}